<template>
  <div class="detailsInfo_warp">
    <div class="headerWarp">
      <img src="@/assets/personnelFile_title.png" alt="" />
    </div>
    <div class="detailsInfo_bottom">
      <!-- 滚动区域 -->
      <div class="deta_botm_left" ref="anchorRef" @scroll="handleScroll">
        <!-- 第一模块 -->
        <div
          class="mokuai_warp anchor-item"
          :ref="`anchor-${item.id}`"
          v-for="(item, idx) in muluBtn"
          :key="idx"
        >
          <div class="mukuai_title">
            <div class="title_qz"></div>
            <div class="title_content">{{ item.name }}</div>
          </div>
          <div class="mukuai_bottom">
            <div class="jiben_info_warp" v-if="item.id == 1">
              <div
                class="jiben_info_box"
                v-for="(item, i) in inforMessageArr"
                :key="i"
              >
                <div class="jiben_info_left">
                  <i v-if="item.type == 'wname'" class="el-icon-user"></i>
                  <i
                    v-if="item.type == 'address'"
                    class="el-icon-location-outline"
                  ></i>
                  <i v-if="item.type == 'gender'" class="el-icon-male"></i>
                  <i
                    v-if="item.type == 'banknumber'"
                    class="el-icon-postcard"
                  ></i>
                  <i
                    v-if="item.type == 'imsi'"
                    class="el-icon-c-scale-to-original"
                  ></i>
                  <i v-if="item.type == 'operator'" class="el-icon-mobile"></i>
                  <i
                    v-if="item.type == 'wid'"
                    class="el-icon-chat-line-round"
                  ></i>
                  <i
                    v-if="item.type == 'phone'"
                    class="el-icon-phone-outline"
                  ></i>
                  <i
                    v-if="item.type == 'phone_home_location'"
                    class="el-icon-place"
                  ></i>
                  <i v-if="item.type == 'idcard'" class="el-icon-postcard"></i>
                  <i v-if="item.type == 'name'" class="el-icon-user"></i>
                  <i
                    v-if="item.type == 'imei'"
                    class="el-icon-c-scale-to-original"
                  ></i>
                  <i v-if="item.type == 'email'" class="el-icon-message"></i>
                  <i
                    v-if="item.type == 'wnumber'"
                    class="el-icon-connection"
                  ></i>
                  <i v-if="item.type == 'nation'" class="el-icon-s-flag"></i>
                  <i
                    v-if="item.type == 'nickname'"
                    class="el-icon-s-ticket"
                  ></i>
                  <i v-if="item.type == 'qq'" class="el-icon-s-promotion"></i>
                </div>
                <div class="jiben_info_right">
                  <el-tooltip
                    class="time"
                    effect="dark"
                    :content="item.value"
                    placement="top"
                    v-if="
                      (item.type == 'wname' && item.value.length > 11) ||
                      (item.type == 'address' && item.value.length > 11) ||
                      (item.type == 'gender' && item.value.length > 11) ||
                      (item.type == 'banknumber' && item.value.length > 20) ||
                      (item.type == 'imsi' && item.value.length > 20) ||
                      (item.type == 'operator' && item.value.length > 11) ||
                      (item.type == 'wid' && item.value.length > 20) ||
                      (item.type == 'phone' && item.value.length > 20) ||
                      (item.type == 'phone_home_location' &&
                        item.value.length > 11) ||
                      (item.type == 'idcard' && item.value.length > 20) ||
                      (item.type == 'name' && item.value.length > 11) ||
                      (item.type == 'imei' && item.value.length > 20) ||
                      (item.type == 'email' && item.value.length > 18) ||
                      (item.type == 'wnumber' && item.value.length > 18)
                    "
                  >
                    <p class="content" v-if="item.type == 'wname'">
                      {{
                        item.value.length > 11
                          ? item.value.slice(0, 11) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'address'">
                      {{
                        item.value.length > 11
                          ? item.value.slice(0, 11) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'gender'">
                      {{
                        item.value.length > 11
                          ? item.value.slice(0, 11) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'banknumber'">
                      {{
                        item.value.length > 20
                          ? item.value.slice(0, 20) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'imsi'">
                      {{
                        item.value.length > 20
                          ? item.value.slice(0, 20) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'operator'">
                      {{
                        item.value.length > 11
                          ? item.value.slice(0, 11) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'wid'">
                      {{
                        item.value.length > 20
                          ? item.value.slice(0, 20) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'phone'">
                      {{
                        item.value.length > 20
                          ? item.value.slice(0, 20) + "..."
                          : item.value
                      }}
                    </p>
                    <p
                      class="content"
                      v-if="item.type == 'phone_home_location'"
                    >
                      {{
                        item.value.length > 11
                          ? item.value.slice(0, 11) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'idcard'">
                      {{
                        item.value.length > 20
                          ? item.value.slice(0, 20) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'name'">
                      {{
                        item.value.length > 11
                          ? item.value.slice(0, 11) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'imei'">
                      {{
                        item.value.length > 20
                          ? item.value.slice(0, 20) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'email'">
                      {{
                        item.value.length > 18
                          ? item.value.slice(0, 18) + "..."
                          : item.value
                      }}
                    </p>
                    <p class="content" v-if="item.type == 'wnumber'">
                      {{
                        item.value.length > 18
                          ? item.value.slice(0, 18) + "..."
                          : item.value
                      }}
                    </p>
                  </el-tooltip>
                  <p class="content" v-else>{{ item.value }}</p>
                  <p class="title">{{ item.name }}</p>
                </div>
              </div>
            </div>
            <photoWall v-if="item.id == 2" :inforMessage="inforMessage" />
            <eventContext v-if="item.id == 3" :inforMessage="inforMessage" />
            <guiji v-if="item.id == 4" :inforMessage="inforMessage" />
            <haoyouleibiao v-if="item.id == 5" :inforMessage="inforMessage" />
            <nichengleibiao v-if="item.id == 6" :inforMessage="inforMessage" />
            <qlLeibiao v-if="item.id == 7" :inforMessage="inforMessage" />
            <shebei v-if="item.id == 8" :inforMessage="inforMessage" />
            <div v-if="item.id == 9" class="tonglian_warp">
              <el-tabs
                v-model="activeNameTl"
                type="card"
                @tab-click="handleClick"
              >
                <el-tab-pane
                  v-for="item in tlMessageMk"
                  :key="item.id"
                  :label="item.name"
                  :name="item.id"
                >
                  <tonglian
                    v-if="item.id == 'call'"
                    activeNameTl="call"
                    :inforMessage="inforMessage"
                  />
                  <tonglian
                    v-if="item.id == 'sms'"
                    activeNameTl="sms"
                    :inforMessage="inforMessage"
                  />
                  <tonglian
                    v-if="item.id == 'email'"
                    activeNameTl="email"
                    :inforMessage="inforMessage"
                  />
                </el-tab-pane>
              </el-tabs>
            </div>
          </div>
        </div>
      </div>
      <!-- 目录按钮 -->
      <div class="deta_botm_right">
        <div
          :class="activeBtn == item.id ? 'muluBtn selsectColor' : 'muluBtn'"
          v-for="item in muluBtn"
          :key="item.id"
          @click="goAnchor('anchor-' + item.id, item.id)"
        >
          · {{ item.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import photoWall from "@/components/searchInfo/photoWall.vue";
import eventContext from "@/components/searchInfo/eventContext.vue";
import guiji from "@/components/searchInfo/guiji.vue";
import haoyouleibiao from "@/components/searchInfo/haoyouleibiao.vue";
import nichengleibiao from "@/components/searchInfo/nichengleibiao.vue";
import qlLeibiao from "@/components/searchInfo/qlLeibiao.vue";
import shebei from "@/components/searchInfo/shebei.vue";
import tonglian from "@/components/searchInfo/tonglian.vue";
export default {
  components: {
    photoWall,
    eventContext,
    guiji,
    haoyouleibiao,
    nichengleibiao,
    qlLeibiao,
    shebei,
    tonglian,
  },
  data() {
    return {
      headerName: "人 员 详 细 信 息",
      activeBtn: 1, //锚点按钮
      //查询人员参数信息
      inforMessage: {},
      inforMessageArr: [],
      //   目录按钮
      muluBtn: [
        {
          id: 1,
          name: "基本信息",
        },
        {
          id: 2,
          name: "照片墙",
        },
        {
          id: 3,
          name: "事件脉络",
        },
        {
          id: 4,
          name: "轨迹信息",
        },
        {
          id: 5,
          name: "好友列表",
        },
        {
          id: 6,
          name: "昵称列表",
        },
        {
          id: 7,
          name: "群聊列表",
        },
        {
          id: 8,
          name: "终端信息",
        },
        {
          id: 9,
          name: "通联信息",
        },
      ],
      //   通联选中卡片
      activeNameTl: "call",
      //   通联信息模块
      tlMessageMk: [
        {
          id: "call",
          name: "话单",
        },
        {
          id: "sms",
          name: "短信",
        },
        {
          id: "email",
          name: "邮箱",
        },
      ],
    };
  },
  created() {
    this.inforMessage = this.$route.query;
    // 处理基本信息
    this.chuliInfoMsgFun();
  },
  mounted() {
    // this.inforMessage = JSON.parse(this.$route.query.value);
    // console.log(this.inforMessage)
  },
  methods: {
    //   通联切换卡片
    handleClick(tab, event) {
      //   console.log(tab, event, "opipoopiopi");
    },
    // 处理基本信息
    chuliInfoMsgFun() {
      this.inforMessageArr = [];
      for (const key in this.inforMessage) {
        let name = null;
        switch (key) {
          case "banknumber":
            name = "银行卡号";
            break;
          case "email":
            name = "邮箱";
            break;
          case "gender":
            name = "性别";
            break;
          case "idcard":
            name = "身份证号";
            break;
          case "imei":
            name = "imei";
            break;
          case "imsi":
            name = "imsi";
            break;
          case "name":
            name = "姓名";
            break;
          case "nation":
            name = "国家";
            break;
          case "nickname":
            name = "昵称";
            break;
          case "phone":
            name = "手机号";
            break;
          case "qq":
            name = "qq";
            break;
          case "wid":
            name = "wid";
            break;
          case "wname":
            name = "wname";
            break;
          case "wnumber":
            name = "wnumber";
            break;
        }
        this.inforMessageArr.push({
          type: key,
          name: name,
          value: this.inforMessage[key] ? this.inforMessage[key] : "空",
        });
      }
    },
    //锚点跳转
    goAnchor(selector, index) {
      this.activeBtn = index;
      this.$refs[selector][0].scrollIntoView({ behavior: "smooth" });
    },
    handleScroll(i) {
      // 获取所有锚点元素
      const navContents = document.querySelectorAll(".anchor-item");
      // 获取锚点元素的offsetTop
      const offsetTopArr = [];
      navContents.forEach((item) => {
        offsetTopArr.push(item.offsetTop);
      });
      // 获取当前文档流的scrollTop
      const scrollTop = this.$refs.anchorRef.scrollTop;
      offsetTopArr.forEach((item, index) => {
        // console.log("scrollTop:" + scrollTop, "item:" + item, "index:" + index);
        if (scrollTop + 100 >= item) {
          this.activeBtn = index + 1;
        }
      });
    },
  },
};
</script>

<style scoped lang="scss">
.detailsInfo_warp {
  width: 100%;
  height: 100%;
  font-size: 18px;
  .headerWarp {
    width: 100%;
    height: 79px;
    background: url("~@/assets/dataAssets_bg1.png") no-repeat;
    background-size: cover;
    padding: 21px 0 0 23px;
    img {
      width: 165px;
      height: 44px;
    }
  }
  .detailsInfo_bottom {
    width: 100%;
    height: calc(100% - 101px);
    display: flex;
    .deta_botm_left {
      flex: 1;
      height: 100%;
      overflow-y: auto;
      .mokuai_warp {
        width: 100%;
        // height: 500px;
        padding: 10px 20px;
        .mukuai_title {
          font-weight: bold;
          font-size: 22px;
          height: 40px;
          line-height: 40px;
          margin-bottom: 10px;
          display: flex;
          .title_qz {
            width: 10px;
            height: 100%;
            border-radius: 3px 0 0 3px;
            background-color: #0993ff;
          }
          .title_content {
            flex: 1;
            padding-left: 10px;
            box-shadow: 0px 1px 3px #b5b2b2;
          }
        }
        .mukuai_bottom {
          padding: 0 10px;
          .jiben_info_warp {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            padding: 0 0 0 5px;
            .jiben_info_box {
              width: 290px;
              height: 80px;
              margin: 10px 8px;
              border-radius: 10px;
              box-shadow: 0px 1px 5px #b5b2b2;
              cursor: pointer;
              transition: 0.3s;
              padding: 5px;
              font-size: 16px;
              display: flex;
              .jiben_info_left {
                width: 50px;
                height: 100%;
                i {
                  font-size: 26px;
                  padding: 10px 0 0 10px;
                  color: #0993ff;
                }
              }
              .jiben_info_right {
                flex: 1;
                height: 100%;
                p {
                  line-height: 30px;
                }
                .title {
                  font-size: 14px;
                  color: #0993ff;
                  font-weight: bold;
                }
                .content {
                  font-size: 18px;
                }
              }
            }
            .jiben_info_box:hover {
              box-shadow: 0px 1px 5px #333;
              transition: 0.3s;
            }
          }
        }
      }
    }
    .deta_botm_right {
      width: 300px;
      padding: 20px 40px;
      .muluBtn {
        font-weight: bold;
        font-size: 22px;
        line-height: 50px;
        cursor: pointer;
      }
      .selsectColor {
        color: #1e55f1;
      }
    }
  }
}
</style>