<template>
  <div class="search_warp">
    <div class="header_common_style">
      <img src="@/assets/target_title.png" alt="" />
    </div>
    <div class="search_bottom">
      <div class="input_warp">
        <div class="input_title">
          <img src="@/assets/target_searchimg.png" alt="" />
        </div>
        <div class="input_button_warp">
          <el-input
            placeholder="请输入内容"
            v-model="searchInfo.sousuo"
            @keyup.enter.native="searchFun"
            clearable
          >
          </el-input>
          <el-button type="primary" @click="searchFun">搜索查询</el-button>
        </div>
        <div class="search_bq_warp">
          <span
            :class="
              nowBqIdx == item.id || searchInfo.personId == item.id
                ? 'selectColor'
                : ''
            "
            @mouseenter="bqEnterFun(item.id)"
            @mouseleave="bqLeaveFun()"
            @click="clickbqFun(item.id)"
            v-for="(item, i) in bqInfoList"
            :key="i"
            >{{ item.typeName }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {
  },
  data() {
    return {
      headerName: "人 员 信 息 查 询",
      //   查询标签信息
      bqInfoList: [
        { id: "1", typeName: "手机号" },
        { id: "2", typeName: "身份证号" },
        { id: "3", typeName: "wnumber" },
        { id: "4", typeName: "email" },
        { id: "5", typeName: "qq" },
        { id: "6", typeName: "imei" },
        { id: "7", typeName: "imsi" },
        { id: "8", typeName: "姓名" },
        { id: "9", typeName: "昵称" },
        { id: "10", typeName: "wid" },
        // { id: "11", typeName: "终端terminalmac" },
      ],
      nowBqIdx: -1,
      //   查询信息
      searchInfo: {
        sousuo: "", //搜索条件
        personId: "1",
        pageSize: 30,
        pageNumber: 1,
      },
    };
  },
  mounted() {},
  methods: {
    searchFun() {
      //   console.log(this.searchInfo);
      // const newHref = this.$router.resolve({
      //   path: "/searchDetails",
      //   query: this.searchInfo,
      // });
      // window.open(newHref.href, "_blank");
      let obj = {
        sousuo: this.searchInfo.sousuo, //搜索条件
        personId: this.searchInfo.personId,
      };
      this.$router.push({
        path: "/searchDetails",
        query: obj,
      });
    },
    clickbqFun(val) {
      this.searchInfo.personId = val;
    },
    bqEnterFun(val) {
      this.nowBqIdx = val;
    },
    bqLeaveFun() {
      this.nowBqIdx = -1;
    },
  },
};
</script>

<style scoped lang="scss">
.search_warp {
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: url("~@/assets/target_bg.png") no-repeat;
  background-size: cover;
  padding: 11px 13px;
  position: relative;
  .header_common_style {
    padding: 10px 0 0 10px;
    img {
      width: 204px;
      height: 44px;
    }
  }
  .search_bottom {
    width: 100%;
    height: calc(100% - 101px);
    padding-top: 250px;
    .input_warp {
      width: 1100px;
      margin: 0 auto;
      .input_title {
        text-align: center;
        padding: 20px 0;
        font-size: 36px;
        img {
          width: 301px;
          height: 67px;
        }
      }
      .input_button_warp {
        display: flex;
        margin-bottom: 5px;
        /deep/ .el-input,
        .el-button {
          font-size: 22px;
        }
        /deep/ .el-input__inner {
          height: 60px;
        }
      }
      .search_bq_warp {
        color: #888;
        span {
          margin: 5px 13px 0 5px;
          font-size: 20px;
          cursor: pointer;
        }
        .selectColor {
          color: #fff;
        }
      }
    }
  }
}
</style>