<template>
  <div class="search_warp">
    <div class="header_common_style">
      <img src="@/assets/target_title.png" alt="" />
    </div>
    <div class="search_bottom">
      <div class="input_warp">
        <div class="input_title">
          <img src="@/assets/target_searchimg.png" alt="" />
        </div>
        <div class="sswarp">
          <div class="input_button_warp">
            <el-input
              placeholder="请输入内容"
              v-model="searchInfo.sousuo"
              @keyup.enter.native="searchDetailsFun"
              clearable
            >
            </el-input>
            <el-button type="primary" @click="searchDetailsFun"
              >搜索查询</el-button
            >
          </div>
          <div class="search_bq_warp">
            <span
              :class="
                nowBqIdx == item.id || searchInfo.personId == item.id
                  ? 'selectColor'
                  : ''
              "
              @mouseenter="bqEnterFun(item.id)"
              @mouseleave="bqLeaveFun()"
              @click="clickbqFun(item.id)"
              v-for="(item, i) in bqInfoList"
              :key="i"
              >{{ item.typeName }}</span
            >
          </div>
        </div>
      </div>
      <!-- 返回结果展示 -->
      <div class="res_warp_box" v-loading="resDataLoading">
        <div class="res_show">
          本次查询<span
            >{{ searchInfoLs.typeName }}：{{ searchInfoLs.sousuo }}</span
          >，共计查询出<span>{{ resData.total }}</span
          >条结果。
        </div>
        <div class="res_warp">
          <div
            class="res_card_warp"
            v-for="(item, i) in resData.tableList"
            :key="i"
            @click="detailsInfoFun(item)"
          >
            <p>
              姓名：{{
                item.name != null && item.name.length > 12
                  ? item.name.slice(0, 12) + "..."
                  : item.name
              }}
            </p>
            <p>
              电话：{{
                item.phone != null && item.phone.length > 20
                  ? item.phone.slice(0, 20) + "..."
                  : item.phone
              }}
            </p>
            <p>
              身份证号：{{
                item.idcard != null && item.idcard.length > 20
                  ? item.idcard.slice(0, 20) + "..."
                  : item.idcard
              }}
            </p>
            <div class="djxq">点击详情→</div>
          </div>
        </div>
        <div class="page_warp">
          <!-- @size-change="handleSizeChange" -->
          <el-pagination
            @current-change="handleCurrentChange"
            :current-page="searchInfo.pageNumber"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="searchInfo.pageSize"
            layout="total,prev,pager,next,jumper"
            :total="resData.total"
          ></el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { portrait } from "@/api/index.js";
import { stringify } from "qs";
export default {
  components: {},
  data() {
    return {
      headerName: "人 员 信 息 查 询",
      //   查询标签信息
      bqInfoList: [
        { id: "1", typeName: "手机号" },
        { id: "2", typeName: "身份证号" },
        { id: "3", typeName: "wnumber" },
        { id: "4", typeName: "email" },
        { id: "5", typeName: "qq" },
        { id: "6", typeName: "imei" },
        { id: "7", typeName: "imsi" },
        { id: "8", typeName: "姓名" },
        { id: "9", typeName: "昵称" },
        { id: "10", typeName: "wid" },
        // { id: "11", typeName: "终端terminalmac" },
      ],
      nowBqIdx: -1,
      //   查询信息
      searchInfo: {
        sousuo: "", //搜索条件
        personId: "1",
        pageSize: 30,
        pageNumber: 1,
      },
      // 上一条查询历史
      searchInfoLs: {
        personId: 1,
        sousuo: "",
        typeName: "",
        pageNumber: 1, //页
        pageSize: 10, //条
      },
      // 结果信息
      resData: {
        tableList: [],
        total: 0,
      },
      resDataLoading: false,
      isRefresh: true,
    };
  },
  watch: {
    "$route.query": {
      immediate: true, // 初始化时立即触发
      handler(newQuery, oldQuery) {
        // 这里处理query变化的逻辑
        this.searchInfo.personId = newQuery.personId;
        this.searchInfo.sousuo = newQuery.sousuo;
        if (this.isRefresh) {
          this.searchDetailsFun(false);
        } else {
          this.isRefresh = true;
        }
      },
    },
  },
  mounted() {
    let routQueryInfo = this.$route.query;
    if (routQueryInfo) {
      this.searchInfo.personId = routQueryInfo.personId;
      this.searchInfo.sousuo = routQueryInfo.sousuo;
      // this.searchDetailsFun(true);
    }
  },
  methods: {
    searchDetailsFun(val) {
      if (
        this.searchInfoLs.personId != this.searchInfo.personId ||
        this.searchInfoLs.sousuo != this.searchInfo.sousuo
      ) {
        this.searchInfo.pageNumber = 1;
      }
      this.resDataLoading = true;
      // let dataSearchValue = "";
      // dataTotal.dataServiceParams.phone = "%" + arr.join("%%") + "%";
      portrait(this.searchInfo).then((res) => {
        if (res.status == 200) {
          this.resData.tableList = res.data.object;
          this.resData.total = res.data.total;
          this.resDataLoading = false;
        }
      });
      this.searchInfoLs.personId = this.searchInfo.personId;
      this.searchInfoLs.typeName = this.bqInfoList.find(
        (item) => item.id == this.searchInfo.personId
      ).typeName;
      this.searchInfoLs.sousuo = this.searchInfo.sousuo;
      if (val) {
        this.isRefresh = false;
        this.refreshFun();
      }
    },
    // handleSizeChange(val) {
    //   this.searchInfo.pageSize = val;
    //   this.searchDetailsFun();
    // },
    handleCurrentChange(val) {
      this.searchInfo.pageNumber = val;
      this.searchDetailsFun();
    },
    // 详情页面跳转
    detailsInfoFun(val) {
      // console.log(JSON.stringify(val));
      // return
      const newHref = this.$router.resolve({
        // path: `/detailsInfo?sousuo=${JSON.stringify(val)}`,
        // query: JSON.stringify(val),
        path: "/detailsInfo",
        query: val,
      });
      window.open(newHref.href, "_blank");
    },
    // 无刷新页面修改路由参数
    refreshFun() {
      this.$router.push(
        `${this.$route.path}?personId=${this.searchInfo.personId}&sousuo=${this.searchInfo.sousuo}`
      );
    },
    clickbqFun(val) {
      this.searchInfo.personId = val;
    },
    bqEnterFun(val) {
      this.nowBqIdx = val;
    },
    bqLeaveFun() {
      this.nowBqIdx = -1;
    },
  },
};
</script>

<style scoped lang="scss">
.search_warp {
  width: 100%;
  height: 100%;
  font-size: 18px;
  background: url("~@/assets/target_bg.png") no-repeat;
  background-size: cover;
  // padding: 11px 13px;
  position: relative;
  .header_common_style {
    padding: 21px 0 0 23px;
    img {
      width: 204px;
      height: 44px;
    }
  }
  .search_bottom {
    width: 100%;
    height: calc(100% - 101px);
    padding-top: 20px;
    .input_warp {
      width: 1200px;
      margin: 0 auto;
      display: flex;
      margin-bottom: 20px;
      .input_title {
        text-align: center;
        padding: 20px 0 0 0;
        font-size: 36px;
        width: 301px;
        img {
          width: 301px;
          height: 67px;
        }
      }
      .sswarp {
        flex: 1;
        .input_button_warp {
          padding: 25px 0 0 10px;
          display: flex;
          margin-bottom: 5px;
          /deep/ .el-input,
          .el-button {
            font-size: 22px;
          }
          /deep/ .el-input__inner {
            height: 60px;
          }
        }
        .search_bq_warp {
          color: #888;
          span {
            margin-left: 10px;
            font-size: 20px;
            cursor: pointer;
          }
          .selectColor {
            color: #fff;
          }
        }
      }
    }
    .res_warp_box {
      width: 100%;
      height: calc(100% - 105px);
      background-color: #fff;
      .res_show {
        padding-left: 20px;
        font-size: 16px;
        color: #333;
        height: 40px;
        line-height: 40px;
        span {
          color: #0072ff;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .res_warp {
        height: calc(100% - 100px);
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 0 10px 0 15px;
        // justify-content: space-evenly;
        .res_card_warp {
          width: 297px;
          height: 100px;
          margin: 10px 8px;
          border-radius: 10px;
          box-shadow: 0px 1px 5px #b5b2b2;
          cursor: pointer;
          transition: 0.3s;
          padding: 5px;
          font-size: 16px;
          .djxq {
            text-align: right;
            color: #1683f3;
          }
        }
        .res_card_warp:hover {
          box-shadow: 0px 1px 5px #333;
          transition: 0.3s;
        }
      }
      .page_warp {
        padding: 10px 50px 0 0;
        text-align: right;
      }
    }
  }
}
</style>