<template>
  <div class="warp" v-loading="resDataLoading">
    <div class="mukuai_table">
      <el-table
        :data="resData.tableList"
        style="100%"
        max-height="390"
        stripe
        :header-cell-style="{
          color: '#2e7cf1',
          textAlign: 'center',
          backgroundColor: '#EBEEF5',
        }"
      >
        <template v-for="(item, i) in resData.tableHeader">
          <el-table-column
            :key="i"
            :prop="item"
            :label="
              item == 'callNumber'
                ? '发送方手机号'
                : item == 'calledNumber'
                ? '接收方手机号'
                : item
            "
            align="center"
            show-overflow-tooltip
            v-if="item == 'callNumber' || item == 'calledNumber'"
          >
            <template slot-scope="scope">
              <div class="searchColor" @click="searchFun(1, scope.row[item])">
                {{ scope.row[item] }}
              </div>
            </template>
          </el-table-column>
          <el-table-column
            :key="i"
            :prop="item"
            :label="
              item == 'subject'
                ? '主题'
                : item == 'content'
                ? '内容'
                : item == 'attachmentCount'
                ? '附件个数'
                : item == 'attachmentCames'
                ? '附件名称'
                : item == 'startTime'
                ? '开始时间'
                : item == 'endTime'
                ? '结束时间'
                : item == 'talkTime'
                ? '通话时长(s)'
                : item == 'type'
                ? '类型'
                : item
            "
            align="center"
            show-overflow-tooltip
            v-else
          >
          </el-table-column>
        </template>
      </el-table>
    </div>
    <div class="page_warp">
      <!-- @size-change="handleSizeChange" -->
      <el-pagination
        @current-change="handleCurrentChange"
        :current-page="searchInfo.pageNumber"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="searchInfo.pageSize"
        layout="total,prev,pager,next,jumper"
        :total="resData.total"
      ></el-pagination>
    </div>
  </div>
</template>

<script>
import { getEmail, getVoice, getSms } from "@/api/index.js";
export default {
  props: {
    inforMessage: Object,
    activeNameTl: String,
  },
  data() {
    return {
      //   查询信息
      searchInfo: {
        personId: 1,
        sousuo: "",
        pageNumber: 1, //页
        pageSize: 10, //条
      },
      // 结果信息
      resData: {
        tableList: [],
        tableHeader: [
          "callNumber",
          "calledNumber",
          "subject",
          "content",
          "attachmentCount",
          "attachmentCames",
          "startTime",
          "endTime",
          "talkTime",
          "type",
        ],
        total: 0,
      },
      resDataLoading: false,
    };
  },
  mounted() {
    // console.log(this.inforMessage, "xinxixnixnixn");
    this.queryFun();
  },
  methods: {
    queryFun() {
      this.resDataLoading = true;
      this.searchInfo.sousuo = this.inforMessage.phone;
      if (this.activeNameTl == "email") {
        getEmail(this.searchInfo).then((res) => {
          if (res.data.status == 2) {
            this.resData.tableList = res.data.object;
            this.resData.total = res.data.total;
            this.resDataLoading = false;
          }
        });
      } else if (this.activeNameTl == "call") {
        getVoice(this.searchInfo).then((res) => {
          if (res.data.status == 2) {
            this.resData.tableList = res.data.object;
            this.resData.total = res.data.total;
            this.resDataLoading = false;
          }
        });
      } else if (this.activeNameTl == "sms") {
        getSms(this.searchInfo).then((res) => {
          if (res.data.status == 2) {
            this.resData.tableList = res.data.object;
            this.resData.total = res.data.total;
            this.resDataLoading = false;
          }
        });
      }
    },
    handleCurrentChange(val) {
      this.searchInfo.pageNumber = val;
      this.queryFun();
    },
    searchFun(note, val) {
      const newHref = this.$router.resolve({
        path: "/searchDetails",
        query: { personId: note, sousuo: val },
      });
      window.open(newHref.href, "_blank");
    },
  },
};
</script>

<style lang="scss" scoped>
.warp {
  width: 100%;
  height: 100%;
  .mukuai_table {
    .searchColor {
      color: #1350ff;
      cursor: pointer;
    }
    .searchColor:hover {
      text-decoration: underline;
    }
  }
  .page_warp {
    padding: 10px 50px 0 0;
    text-align: right;
  }
}
</style>