<template>
  <div class="portal_contents">
    <div class="header_common_style">
      <img :src="title" alt="" />
    </div>
    <div class="protal_box">
      <div class="protal_box_bg">
        <div
          class="protal_box_detail"
          v-for="(item, i) of portalList"
          :key="i"
          v-show="i < 8"
          @click="useFunction(item)"
        >
          <div class="protal_box_detail_item">
            <img :src="item.image" class="detail_img" />
            <img :src="item.image1" class="detail_img1" />
            <div>{{ item.name }}</div>
          </div>
        </div>
      </div>
      <div class="protal_box_bg">
        <div
          class="protal_box_detail"
          v-for="(item, i) of portalList"
          :key="i"
          v-show="i >= 8"
          @click="useFunction(item)"
        >
          <div class="protal_box_detail_item">
            <img :src="item.image" class="detail_img" />
            <img :src="item.image1" class="detail_img1" />
            <div>{{ item.name }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {},
  data() {
    return {
      // 路由标题
      title: require("@/assets/portal_title.png"),
      // 功能列表
      portalList: [
        {
          name: "泛目标查询",
          image: require("@/assets/select.png"),
          image1: require("@/assets/selectD.png"),
          path: "/search",
        },
      ],
    };
  },
  mounted() {},
  methods: {
    // 使用功能
    useFunction(data) {
      if (data.path) {
        const { href } = this.$router.resolve({
          path: data.path,
        });
        window.open(href, "_blank");
      } else {
        this.$message.warning("敬请期待！");
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.portal_contents {
  width: 100%;
  height: 100%;
  background: url("~@/assets/portal_bg.png") no-repeat;
  background-size: cover;
  padding: 11px 13px;
  .header_common_style {
    padding: 10px 0 0 10px;
    img {
      width: 283px;
      height: 44px;
    }
  }
  .protal_box {
    height: calc(100% - 300px);
    .protal_box_bg {
      width: 1801px;
      height: 45px;
      background: url("~@/assets/portal_bg1.png") no-repeat;
      background-size: cover;
      margin: 250px auto;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      .protal_box_detail {
        width: 124px;
        height: 124px;
        border-radius: 8px;
        margin: -95px 0 20px 89px;
        transition: all 0.5s;
        .protal_box_detail_item {
          position: relative;
          .detail_img {
            width: 124px;
            height: 124px;
          }
          .detail_img1 {
            width: 136px;
            height: 23px;
            position: absolute;
            left: -6px;
            bottom: -4px;
            transition: all 0.5s;
          }
          div {
            width: 150px;
            text-align: center;
            position: absolute;
            left: -13px;
            bottom: -50px;
            font-size: 24px;
            color: #333333;
            transition: all 0.5s;
          }
        }
      }
      .protal_box_detail:hover {
        margin: -120px 0 20px 89px;
        cursor: pointer;
        .protal_box_detail_item {
          div {
            margin-bottom: -12.5px;
          }
          .detail_img1 {
            margin-bottom: -12.5px;
          }
        }
      }
    }
  }
}
</style>
