<template>
  <div class="warp_header">
    <p>
      <i>{{ headerName }}</i>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    headerName: String,
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {},
};
</script>

<style scoped lang="scss">
.warp_header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #000;
  background-color: #4793f1;
  color: #fff;
  p {
    line-height: 100px;
    font-size: 50px;
    padding-left: 40px;
  }
}
</style>