<template>
  <div id="app">
    <!-- 第一路有出口 -->
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  width: 100%;
  height: 100%;
  // width: 1920px;
  // height: 1080px;
  // background-color: bisque;
}
</style>
